html{
    font-family: Arial;
}
body {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 160%;
    font-smooth: auto;
    font-weight: 300;
    line-height: 1.75;
    color: rgb(0, 0, 0);
    overflow-x: hidden;
    visibility: visible;
}

#bannerBorder{
    width: 1200%;
    height: 5px;
    background-color: #8c0000;

}

#banner{
    display: grid;
    grid-template-columns: 20vh 160vh 40vh;
    background-color: #d15600;
    color: white;
    font-style: initial;
    font-weight: bold;
}

#profilePic{
    width: 30px;
}

.yourProfil{
    margin-top: 20%;
}

.mainInformation{
    margin-left: 5%;
}