body {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 160%;
    font-smooth: auto;
    font-weight: 300;
    line-height: 1.75;
    color: rgb(0, 0, 0);
    overflow-x: hidden;
    visibility: visible;
}

.menu {
    position: fixed;
    top: 9vh;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50px;
    height: 50px;
    background-color: #b7b4b4;
    border-radius: 50%;
    transition: transform 250ms ease;
    cursor: pointer;
    z-index: 200;
    visibility: visible;
    margin-top: -1.5vh;
    background-color: white;
}

.menu span {
    position: relative;
    display: block;
    width: 50%;
    height: 2px;
    float: left;
    transform-origin: center center;
    transition: transform 250ms ease;
    z-index: 200;
    visibility: visible;

}

span {
    background-color: #b7b4b4;
}

.menu span:nth-of-type(1) {
    transform: translateY(-5px);
    visibility: visible;
}

.menu span:nth-of-type(3) {
    transform: translateY(5px);
    visibility: visible;
}

#menu {
    display: none;
    visibility: visible;
}

#menu:checked ~ .menu {
    position: fixed;
    top: 10px;
    left: 20px;
    display: flex;
    background-color: transparent;
    transform: rotate(360deg);
    transition: transform 250ms ease;
    visibility: visible;
}

#menu:checked ~ .menu span {
    background-color: white;
    transition: transform 250ms ease;
    visibility: visible;
}

#menu:checked ~ .menu span:nth-of-type(1) {
    transform: translateY(1px) rotate(45deg);
    visibility: visible;
}

#menu:checked ~ .menu span:nth-of-type(2) {
    display: none;
    visibility: visible;
}

#menu:checked ~ .menu span:nth-of-type(3) {
    transform: translateY(-1px) rotate(-45deg);
    visibility: visible;
}

#menu:checked ~ .nav {
    left: 0px;
    transition: left 500ms ease;
    visibility: visible;
}

#menu:checked ~ main {
    transform: translateX(250px);
    transition: transform 500ms ease;
    visibility: visible;
}

.nav {
    position: fixed;
    top: 0;
    left: -210px;
    width: 30vh;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #b7b4b4;
    transition: left 500ms ease;
    visibility: hidden;
}

.nav ul {
    position: relative;
    list-style-type: none;
    margin: 100px 0;
    padding: 0;
    color: white;
    text-align: center;
}

.nav ul li {
    position: relative;
    display: block;
    border-bottom: 5px solid white;
}

.nav ul li a {
    position: relative;
    display: block;
    margin: 0;
    padding: 15px 20px;
    color: white;
    font-size: 150%;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    visibility: visible;
}

.nav ul li a:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: width 250ms ease;
    z-index: -1;
    visibility: visible;
}

.nav ul li a:hover:before {
    width: 100%;
    height: 100%;
    transition: width 250ms ease;
    visibility: visible;
}

ul {
    width: 25vh;
}

.menuPoints {
    cursor: pointer;
}


.nav ul li a:hover:before {
    width: 100%;
    height: 100%;
    transition: width 250ms ease;
    visibility: visible;
}

#banner{
    display: grid;
    grid-template-columns: 20vh 160vh 40vh;
    background-color: #d15600;
    color: white;
}

img{
    width: 30px;
}