html {
    font-family: Arial;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 160%;
    font-smooth: auto;
    font-weight: 300;
    line-height: 1.75;
    color: rgb(0, 0, 0);
    overflow-x: hidden;
    visibility: visible;
}

#title{
    margin-top: 1%;
}

#bannerBorder {
    width: 1200%;
    height: 5px;
    background-color: #8c0000;
    margin-top: -35%;
}

#banner {
    display: grid;
    grid-template-columns: 20vh 170vh 40vh;
    background-color: #d15600;
    color: white;
    font-style: initial;
    font-weight: bold;
    font-size: 30px;
    height: 20vh;
}

#profilePic {
    width: 30px;
}

.yourProfil {
    margin-top: 20%;
}

#logo {
    width: 30vh;
    margin-top: 5%;
}

main {
    margin-left: 5%;
}

h3 {
    font-size: 25px;
}

a {
    font-size: 15px;
}

li {
    font-size: 20px;
    color: white;
    text-underline: none;
}
p{
    font-size: 15px;
}
label{
    font-size: 18px;
}

button {
    background-color: #49436b;
    color: white;
    border-width: 1px;
}
form{
    display: flex;
    flex-direction: row;
}